@model List<WarikakeWeb.ViewModel.SubscribeDisp>
@{
    ViewData["Title"] = "定期登録一覧";
}

<h1>定期登録一覧</h1>
<h4>グループ：@ViewBag.GroupName</h4>

@{
    if (Context.Session.GetInt32("UserId") != null && Context.Session.GetInt32("GroupId") != null)
    {
    <p>
        <a asp-action="Create">新規定期登録</a>
         |
            <a asp-action="Publish">一括仮登録</a>
    </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CostDisp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pays[0].PayUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pays[0].PayDisp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Repays[0].RepayDisp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CostDisp)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CostTitle)
                </td>
                <td>
                    @foreach (var payItem in item.Pays)
                    {
                        <div>
                            <nobr>@Html.DisplayFor(model => payItem.PayUserName)</nobr>
                        </div>
                    }
                </td>
                <td>
                    @foreach (var payItem in item.Pays)
                    {
                        <div>
                            @Html.DisplayFor(model => payItem.PayDisp)
                        </div>
                    }
                </td>
                <td>
                    @foreach (var repayItem in item.Repays)
                    {
                        <div>
                            @Html.DisplayFor(model => repayItem.RepayDisp)
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SubscribeId">修正</a> |
                    <a asp-action="Delete" asp-route-id="@item.SubscribeId">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
