@model IEnumerable<WarikakeWeb.Models.MMemberDisp>

@{
    ViewData["Title"] = "メンバー一覧";
}

<h1>メンバー一覧</h1>

<p>
    <a asp-action="Create">メンバー登録</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.groupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.groupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">除名</a>
            </td>
        </tr>
}
    </tbody>
</table>
