@using Newtonsoft.Json
@model WarikakeWeb.ViewModel.WarikakeSearch
@{
    ViewData["Title"] = "集計一覧";
}

<h1>集計一覧</h1>
<h4>グループ：@ViewBag.GroupName</h4>
<form asp-action="Index">
<p>
        @if (Model.prevYear == 0)
        {
            <a>前年</a>
        }
        else
        {
            <a asp-action="Index" asp-route-year="@Model.prevYear">前年</a>
        }
    |
        <span>@Model.currDisp</span>
    |
        @if(Model.nextYear == 0)
        {
            <a>翌年</a>
        }
        else
        {
            <a asp-action="Index" asp-route-year="@Model.nextYear">翌年</a>
        }
</p>
    <div>
        <canvas id="genreCostMonthGraph"></canvas>
    </div>
    <script>
        const ctx = document.getElementById('genreCostMonthGraph');

        new Chart(ctx, @Html.Raw(Model.warikakeChart));
    </script>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.warikakeDisps[0].GenreName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.warikakeDisps[0].CostDisp)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.warikakeDisps[0].Pays[0].PayUserName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.warikakeDisps[0].Pays[0].PayDisp)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.warikakeDisps[0].Repays[0].RepayDisp)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="font-weight: bold;">
                @Html.DisplayFor(model => model.warikakeSum.GenreName)
            </td>
            <td style="font-weight: bold;">
                @Html.DisplayFor(model => model.warikakeSum.CostDisp)
            </td>
            <td style="font-weight: bold;">
                @foreach (var payItem in Model.warikakeSum.Pays)
                {
                    <div>
                        @Html.DisplayFor(model => payItem.PayUserName)
                    </div>
                }
            </td>
            <td style="font-weight: bold;">
                @foreach (var payItem in Model.warikakeSum.Pays)
                {
                    <div>
                        @Html.DisplayFor(model => payItem.PayDisp)
                    </div>
                }
            </td>
            <td style="font-weight: bold;">
                @foreach (var repayItem in Model.warikakeSum.Repays)
                {
                    <div>
                        @Html.DisplayFor(model => repayItem.RepayDisp)
                    </div>
                }
            </td>
            <td style="font-weight: bold;">

            </td>
        </tr>
        @foreach (var item in Model.warikakeDisps)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CostDisp)
                </td>
                <td>
                    @foreach (var payItem in item.Pays)
                    {
                        <div>
                            <nobr>@Html.DisplayFor(model => payItem.PayUserName)</nobr>
                        </div>
                    }
                </td>
                <td>
                    @foreach (var payItem in item.Pays)
                    {
                        <div>
                            @Html.DisplayFor(model => payItem.PayDisp)
                        </div>
                    }
                </td>
                <td>
                    @foreach (var repayItem in item.Repays)
                    {
                        <div>
                            @Html.DisplayFor(model => repayItem.RepayDisp)
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Detail" asp-route-yearMonth="@item.CostTitle">詳細</a>
                </td>
            </tr>
        }
    </tbody>
</table>
